#title{
    color: white;
    
}
#one a{
    color:white;
}

#searchButton{
    color: black;
    background-color: rgb(32, 186, 165);
    font-size: larger;
}

#two{
    color: black;
    background-color: rgb(32, 186, 165);
}
.login{
    padding-left: 1%;
    display: flex;
}
#two{
 
}
.bottom-border{
    border-bottom: 2px solid  rgb(32, 186, 165);
}

.router{
    position: relative;
}