@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');


.one{
    font-family: montserrat;
    background: linear-gradient(120deg, #2980b9,#8e44ad);
    height: 100vh;
    overflow: hidden;
    
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.center h1{
  text-align: center;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid silver;
  font-style: oblique;
  color: rgb(16, 57, 161);
}

.center form{
    padding:0 40px;
    box-sizing: border-box;
}

form .txt_field{
   position: relative;
   border-bottom: 2px solid #adadad;
   margin: 30px 0;
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border:none ;
    background: none;
    outline: none;
}

.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateX(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
    padding-left: 45px;
}

.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }
  .pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }
  .pass:hover{
    text-decoration: underline;
  }
  input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
  }
  .signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
  }
  .signup_link a{
    color: #2691d9;
    text-decoration: none;
  }
  .signup_link a:hover{
    text-decoration: underline;
  }
  



  


   .register-block {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 70%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    border-width:1px;  
    border-style:outset;
    padding: 10px;
}

.register-input-full-width{
    width: 100%;
}

h3{
    text-align: center;
}


.three{
  display: flex;
}
.buttoni{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
#three{
width: 1000px;
  padding: 20px;
}